streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
LinearRegression
Ridge
Lasso
ElasticNet
DecisionTreeRegressor
RandomForestRegressor
GradientBoostingRegressor
KNeighborsRegressor
SVR


